<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full CI Suite">

    <test name="Lifecycle Tests">
        <classes>
            <class name="com.guru99.TestEcommerceLifecycle"/>
        </classes>
    </test>

    <test name="Banking Group Tests">
        <classes>
            <class name="com.guru99.TestBankingGroups"/>
        </classes>
    </test>

</suite>
